x64/
## Visual Studio
.vs/
*.db
*.vcxproj.user
*.suo
*.user
*.ipch
*.VC.db
*.VC.opendb
Browse.VC.db
Solution.VC.db
*.log
*.vscode/

# Build outputs
*.o
*.obj
*.exe
*.out
CPP/main
CPP/lander
Cplusplusfiles/Cplusplusfiles/Cplusplusfiles

# Node dependencies
**/node_modules/

# macOS
.DS_Store

# Backup files

*~
Debug/
